<div class="angular--product--item" >
    <div class="angular-wishlist-sale-container">
        <div class="angular--add--to--wishlist">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
        <div class="angular-on-sale-tag" *ngIf="product.discountPrice">{{ product.discountPrice ? (100 - (product.discountPrice! / product.price * 100)).toFixed(0) : "" }}% OFF</div>
    </div>
    <div class="angular--product--image">
        <img [src]="product.imageURL" class="angular--product--image">
    </div>
    <div class="angular--add--to--price">
        {{ '$' + product.price }}
    </div>
    <div class="angular--product--name">{{ product.name }}</div>
    <div class="angular--product--category">{{ product.gender }} . {{ product.category }} . {{ product.brand }}</div>
    <div class="angular--product--available-colors">{{ product.color.length }}</div>
    <div class="angular--product--in-stock" [ngStyle]="{fontWeight: 'bold', color: product.is_in_inventory ? 'Green' : 'Red'}">
        {{ product.is_in_inventory ? 'Available in Stock' : 'Not available in stock'}}
    </div>
</div>