<div class="angular--products--container">
    <app-search></app-search>

    <product-list #productListComponent></product-list>

    <product-detail [productListComp]="productListComponent" *ngIf="productListComponent.selectedProduct"></product-detail>

    <div class="angular-featured-products">
        <div class="angular-featured-product-heading">
            <h1>Latest Arrival in Pupolar Brands</h1>
        </div>
        <featured-brands>
            <h3 class="title">New Arrivals in Nike</h3>
            <button class="call-to-action">Show New Arrivals in Nike</button>
        </featured-brands>
        
        <featured-brands>
            <h3 class="title">New Arrivals in Adidas</h3>
            <button class="call-to-action">Show New Arrivals in Adidas</button> 
        </featured-brands>
        
        <featured-brands>
            <h3 class="title">New Arrivals in Reebok</h3>
            <button class="call-to-action">Show New Arrivals in Reebok</button> 
        </featured-brands>
        </div>
</div>
