<!-- <top-header></top-header>
<app-header></app-header>
<app-container></app-container> -->

<!-- <div class="container">
    <h2>Observables in Angular</h2>
    <div class="data-list" *ngFor="let x of data">
        {{ x }}
    </div>

    <button (click)="GetAsyncData()">Get Data</button>

    <div class="data-list" id="container"></div>
    <button #createbtn>Create new item</button>
</div> -->

<!-- <app-new-task>/</app-new-task>
<app-show-task></app-show-task> -->

<!-- <app-subject></app-subject> -->

<!-- <app-ubsubscribe></app-ubsubscribe> -->

<!-- <app-users></app-users> -->

<div class="app-content">
    <app-header></app-header>
    <div class="app-main-area">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>