<app-filter [all]="totalProductCount" [inStock]="totalProductInStock" [outOfStock]="totalProductOutOfStock"
    (selectedFilterRadioButtonChanged)="onFilterChanged($event)"
>
</app-filter>
<div class="angular--products--container">
    <!-- not create another div when using ng-container
        ng-container that is not being render in the dom
    -->
    <ng-container *ngFor="let prod of products; let i=index">
        <app-product 
            [product]="prod" 
            *ngIf="selectedFilterRadioButton === 'all' || prod.is_in_inventory.toString() === selectedFilterRadioButton"
            (click)="selectedProduct = prod"
        >
        </app-product>
    </ng-container>
</div>
